# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=VENDORi GmbH
NEXT_PUBLIC_CONTACT_EMAIL=info@vendori.de
NEXT_PUBLIC_CONTACT_PHONE=+49 XXX XXXXXXX

# Add other environment variables as needed
